<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <% if user_signed_in? %>
    <%= t "devise.shared.links.sign_in_with_provider", provider: current_user.email %>
    <%= link_to t("views.common.all_users"), users_path %> |
    <%= link_to t("views.common.edit_profile"), edit_user_registration_path %> |
    <%= link_to t("views.common.logout"), destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to t("devise.registrations.new.sign_up"), new_user_registration_path  %> |
    <%= link_to t("devise.sessions.new.sign_in"), new_user_session_path %>
  <% end %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
